main {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

main .text p {
    max-width: 400px;
}

main .image {
    background-color: var(--colour1);
    width: 300px;
    aspect-ratio: 5/7;

    border-radius: 10px;

    overflow: hidden;
}