main {
    margin-top: 0;

    min-height: calc(100vh - 50px);
}

form .form-group {
    width: 500px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 50px;
}

form .form-group label {
    font-size: 2em;
    font-weight: 500;
}

form .form-group textarea,
form .form-group input {
    border: 1px solid var(--colour5);
    border-radius: 10px;
    background-color: transparent;

    font-size: 1em;

    padding: 5px;

    max-width: calc(100%  - 12px);
    min-height: calc(1em + 10px);

    scrollbar-width: none;

    outline: none;
}

form .form-submit-group {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 500px;
    max-width: 100%;
}

form .form-submit-group button {
    padding: 0.5em 1.5em;
    font-size: 1em;

    border-radius: 10px;
    border: 1px solid var(--colour5);

    cursor: pointer;

    transition: all 0.25s;
}

form .form-submit-group button:hover {
    background-color: var(--colour5);
    color: var(--colour1);
}

form .form-submit-group.sent {
    pointer-events: none;
}

form .form-submit-group .msg {
    display: none;
    font-size: 1rem;
}

form .form-submit-group .sent {
    color: green;
}

form .form-submit-group .error {

    color: red;
}

form .form-submit-group.sent .sent {
    display: block;
}

form .form-submit-group.error .error {
    display: block;
}