main .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

main .gallery div {
    height: 250px;
    overflow: hidden;

    border-radius: 10px;
}

main .gallery div img {
    height: 100%;
    object-fit: cover;

    transition: all 0.25s;
}

main .gallery div img:hover {
    scale: 1.15;
}

@media (max-width: 1000px) {
    main .gallery div {
        height: 275px;
    }
}

@media (max-width: 500px) {
    main .gallery div {
        height: 150px;
    }
}