nav {
    padding: 25px 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colour1);

    box-shadow: 0 6px 5px #00000026
}

nav .pages {
    width: 500px;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .pages a {
    font-size: 1.25rem;

    text-decoration: none;
    text-transform: uppercase;

    position: relative;
}

nav .pages a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--colour4);

    transition: all 0.5s;
}

nav .pages a:hover::after {
    width: 100%;
}

nav .pages a.active::after {
    background-color: var(--colour5);
    width: 100%;
}

nav .hamburger {
    display: none;
}

nav i {
    font-size: 30px;
}

nav label.x-icon {
    display: none;
}

#navbar-active {
    display: none;
}

.tmp-nav {
    display: none;
}

#navbar-active:checked ~ .tmp-nav {
    display: block;
    height: 80px;
    width: 100%;
    background-color: var(--colour1);

    box-shadow: 0 6px 5px #00000026
}

#navbar-active:checked ~ nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: block;

    padding: 25px;
    background-color: #fff;
    animation: openNav 0.25s forwards;

    z-index: 100;
}

#navbar-active:checked ~ nav .pages {
    margin-top: 50px;

    display: flex;

    flex-direction: column;
    align-items: start;
    gap: 25px;
}

#navbar-active:checked ~ nav .hamburger label.hamburger-icon {
    display: none;
}

#navbar-active:checked ~ nav label.x-icon {
    display: block;
}

@keyframes openNav {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 500px) {
    nav {
        justify-content: end;
    }

    nav .pages {
        display: none;
    }

    nav .hamburger {
        display: block;
        margin-right: 25px;
    }
}